<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667659932098-7j1dinse7ol7ohbvei366l8urc0uator.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667659932098-7j1dinse7ol7ohbvei366l8urc0uator</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>667659932098-hr5hkgq1tfl4p1a1kmdjbhvbff4l6jc7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpWyLb6zvRlDfLqBssvoC8qIqqIQ2i18M</string>
	<key>GCM_SENDER_ID</key>
	<string>667659932098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nadySystem</string>
	<key>PROJECT_ID</key>
	<string>nady-system-5000f</string>
	<key>STORAGE_BUCKET</key>
	<string>nady-system-5000f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667659932098:ios:f948e737e5ece0f088c65b</string>
</dict>
</plist>